body {
  background-color: lightgreen;
}

.container {
  display: flex;
  justify-content: center;
}

.inner-container {
  display: flex;
  width: 80vw;
  flex-direction: column;
}

.header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.code {
  background-color: bisque;
}

.rs-logo {
  width: 40px;
  height: 30px;
}
